@model IEnumerable<Product>
@{
  ViewData["Title"] = "Index";
}

<h3>Product Administrator</h3>
<br />
<br />
<p>
  <a href="@Url.Action("AddOrEdit","Product")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
  <thead class="table-heading">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.CodProducto)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Marca)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Modelo)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.PrecioUnitario)
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.CodProducto)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Marca)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Modelo)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.PrecioUnitario)
      </td>
      <td>
        <a href="@Url.Action("AddOrEdit", "Product", new { id = item.IdProducto})" class="btn btn-default"><i class="fa fa-pencil"></i>  Edit</a>

        <a onclick="Delete(@item.IdProducto)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
      </td>
    </tr>
  }

</table>


@section Scripts{
  <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Products','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Product")/'+id;
            },null );
        }
  </script>
}
